@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	body {
		@apply bg-root text-neutral font-cairo;
	}
	.btn-primary {
		@apply bg-primary select-none hover:bg-primary-hover active:bg-primary-active transition rounded-full px-4 md:px-8 py-1.5 font-bold whitespace-nowrap;
	}
	.btn-primary-outline {
		@apply border-2 border-primary select-none text-primary hover:border-primary-hover active:border-primary-active hover:text-primary-hover active:text-primary-active transition rounded-full px-4 md:px-8 py-1.5 font-bold;
	}

	.btn-secondary {
		@apply btn-primary !bg-secondary hover:!bg-secondary-hover active:!bg-secondary-active;
	}
	.btn-secondary-outline {
		@apply border-2 border-secondary select-none text-secondary hover:border-secondary-hover active:border-secondary-active hover:text-secondary-hover active:text-secondary-active transition rounded-full px-4 md:px-8 py-1.5 font-bold;
	}

	.bg-tri-y-clip::before {
		@apply bg-gradient-to-r from-primary to-root bg-cover bg-no-repeat -z-10;
	}

	.bg-tri-r-clip::before {
		@apply bg-gradient-to-r from-secondary to-root bg-cover bg-no-repeat -z-10;
	}

	.bg-tri-y-clip::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
	}

	.bg-tri-r-clip::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 89%;
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 50%);
	}

	@media only screen and (max-width: 600px) {
		.bg-tri-y-clip::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
		}

		.bg-tri-r-clip::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 89%;
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 30%);
		}
	}

	/* width */
	::-webkit-scrollbar {
		@apply w-2;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply bg-root-100;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-root-200 rounded-full;
	}

	.AccordionContent[data-state="open"] {
		animation: slideDown 350ms cubic-bezier(0.87, 0, 0.13, 1);
	}
	.AccordionContent[data-state="closed"] {
		animation: slideUp 350ms cubic-bezier(0.87, 0, 0.13, 1);
	}

	.AccordionContent:last-child {
		@apply rounded-md;
	}

	.AccordionChevron {
		transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
	}
	.AccordionTrigger[data-state="open"] > .AccordionChevron {
		transform: rotate(-180deg);
	}

	@keyframes slideDown {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes slideUp {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}
